<div class="row">
  <div class="col-md-8 col-md-offset-2" style="text-align: center;">
    <h2>Send Payment To Start Your Task</h2>

    Bitcoin address <%= @task.address %>
    <% amt = (@task.cost * 100).to_f / 1_000_000 %>
    <% url = bitcoin_url(@task.address, amt, "Payment to BitTask.io") %>
    <%= link_to image_tag("https://chart.googleapis.com/chart?cht=qr&chs=250x250&chl=#{URI.encode url}"), url %>
  </div>
</div>
<br><br>
<%= render @task %>