<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BitTask</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  
</head>
<body role="document">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        </button>
        <a class="navbar-brand" href="/"><img alt="BitTask" src="logo_50.png"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <button id="popover" type="button" class="btn button-nav" data-container="body" data-toggle="popover" data-placement="bottom">
              <span style="color: #5CB85C;"><strong>1,000 BITS</strong></span><br /> CASH OUT
            </button>
            <div id="popover-head" class="hide"></div>
            <div id="popover-content" class="hide">
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Bitcoin address">
                  </div>
                </div>
                <button type="submit" class="btn btn-success">Send bitcoin</button>
              </form>
            </div>
          </li>
          <li><button type="button" class="btn button-nav">CREATE<br />YOUR TASK</button></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container theme-showcase" role="main">
    <div class="card">
      <h2>Earn bitcoin by completing tasks</h2>
    </div>
    <div class="card card-contrast">
      <div id='task-image'><img  src="exchange.jpg" /></div>
      <br />
      <p class="lead">Do you trade on Coinbase Exchange?</p>
      <p> <a class="btn btn-lg btn-default" href="#" role="button">Yes</a>
        <a class="btn btn-lg btn-default" href="#" role="button">No</a></p>
    </div> 
  </div><!-- /container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script>
  $('#popover').popover({ 
    html : true,
    title: function() {
      return $("#popover-head").html();
    },
    content: function() {
      return $("#popover-content").html();
    }
  });
  $("#task-image").on('mouseenter mouseleave',function( e ) {
    var el = $(this);
    if(!el.data("b"))el.effect("bounce", {direction:'up',distance:10,times:1} );
    el.data("b",e.type=="mouseenter"?true:false);
  });
  </script>
</body>
</html>