<<<<<<< HEAD
<% if !params[:saved] %>
  <div class="card">
    <h2>Earn bitcoin by completing tasks</h2>
  </div>
<% end %>
=======
<div class="card">
  <h2>Earn bitcoin by completing tasks</h2>
</div>
>>>>>>> dd6c71f64ccc56f72e64a893f85771a5c678df07
<% if @task %>
  <%= render @task %>
<% else %>
  Check back later!
<% end %>