<table class="table" style="width: 400px;">
  <tr>
    <td>Num Tasks</td>
    <td><%= number_with_delimiter @num_tasks %></td>
  </tr>
  <tr>
    <td>Num Answers</td>
    <td><%= number_with_delimiter @num_answers %></td>
  </tr>
  <tr>
    <td>Total Earned</td>
    <td><%= number_with_delimiter @total_earned %> bits</td>
  </tr>
</table>