/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body {
    padding-bottom: 30px;
    margin-bottom: 60px;
    background: #F7F7F7;
  }

  .navbar-nav {
    float: right !important;
  }

  .button-nav {
    margin: 8px 0px 8px 10px !important;
    background: #F7F7F7;
    color: #000;
  }

  .navbar .btn {
    min-height: 54px;
  }

  .navbar li {
    min-height: 54px;
  }

  .navbar li span {
    padding: 15px 0;
  }

  .navbar-inverse {
    border-width: 0;
  }

  .navbar-inverse .navbar-brand {
    height: 50px;
    width: 198px;
  }

  .card {
    padding: 30px 15px 15px 15px;
    text-align: center;
    border-radius: 6px;
  }

  .card-task {
    background-color: #fff;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #E1E1E1;
    box-shadow: 1px 1px 1px 1px #DEDEDE;
  }

  .card .btn {
    padding: 14px 24px;
    font-size: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .popover {
    width: 350px !important;
    max-width: 350px !important;
  }

  .placeholder {
    height: 331px;
    width: 500px;
    background: #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    height: 50px;
    width: 198px;
    display: block;
    background: #ccc;
  }

  .green {
    color: #5CB85C;
  }

  .fine-print {
    padding-top: 30px;
  }

  .lead {
    padding-top: 15px;
  }